body{
    background-color: black;
}
h1{
    color: aliceblue;
}

h4{
    color: antiquewhite;
}

span{
    padding-left: 80px;
    padding-right: 80px;
    color: aliceblue;
}

img{
    height: 200px;
    width: 250px;
    border-color: aliceblue;
    border-style: double;
}